<!doctype html>
<head>
  {% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spectre.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icons.min.css')}}">
  <title>DAI - {% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<br>
<body class="container grid-lg">
  <header class="navbar">
    <section class="navbar-section">
      <a href="{{ url_for('p3') }}" class="navbar-brand mr-2">DAI - Prácticas</a>
      <a href="{{ url_for('search_friends') }}" class="btn btn-link">Friends</a>
      <a href="{{ url_for('search_pokemon') }}" class="btn btn-link">Pokémon</a>
      <a href="{{ url_for('fractal', x1=-2.0, x2=1.0, y1=-1.5, y2=1.5, ancho=300) }}" class="btn btn-link">Fractal de ejemplo</a>
    </section>
    <section class="navbar-section">
      {% if session['email'] %}
      <span>Welcome, {{ session['email'] }} <a href="{{ url_for('p3_logout') }}" class="btn btn-link">Log Out</a></span>
      {% else %}
      <form class="input-group" method="POST" action="/p3/login/">
          <input type="email" class="form-input input-sm" placeholder="email" name="email">
          <input type="password" class="form-input input-sm" placeholder="password" name="password">
          <button class="btn btn-primary input-group-btn btn-sm">Login</button>
      </form>
      {% endif %}
    </section>
  </header>
  <br>
  <div class="columns">
    <nav class="sidebar-l column col-3">
      {% if session['email'] %}
      <h4>Páginas recientes</h4>
        {% for page in session['recent_pages'] %}
        <p><a href="{{ page[0] }}">{{ page[1] }}</a></p>
        {% endfor %}
      {% else %}
      <p>Tienes que iniciar sesión para ver las páginas recientes</p>
      {% endif %}
    </nav>
    <main class="column col-9">
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer>
    <p>© José María Martín Luque</p>
  </footer>
</body>