{% extends "search.html" %}

{% block title %} Pokémon {% endblock %}

{% block search %}

<div class="search columns">
  {% for pokemon in results %}
    <div class="column col-6 col-xs-12">
      <div class="card">
        <div class="card-image">
          <img src="{{ pokemon.img }}" class="pokemon-image img-responsive">
        </div>
        <div class="card-header">
          <div class="card-title h5">{{ pokemon.name }}</div>
          <div class="card-subtitle text-gray">Nº {{ pokemon.num }}</div>
        </div>
        <div class="card-body">
          <p>Altura: {{ pokemon.height }}, peso: {{ pokemon.weight }}</p>
          <p>Tipos: {% for type in pokemon.type %} {{ type }} {% endfor %} </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

  

{% endblock %}