{% extends "layout.html" %}

{% block content %}
  <h1>{{ busqueda }}</h1>
  <form class="form-horizontal" method="POST" action="{{ url_for(request.endpoint) }}">
    <div class="input-group has-icon-left">
      <input type="text" class="form-input" placeholder="Búsqueda de {{ busqueda }}" name="query">
      <i class="form-icon icon icon-search"></i>
      <button class="btn btn-primary input-group-btn">Buscar</button>
    </div>
  </form>

  {% block search %}

  {% endblock %}

{% endblock %}