{% extends "layout.html" %}

{% block content %}
  <h1>{{ busqueda }}</h1>
  <form class="form-horizontal" method="POST" action="/p4/busqueda/">
    <div class="input-group has-icon-left">
      <input type="text" class="form-input" placeholder="Búsqueda" name="query">
      <i class="form-icon icon icon-search"></i>
      <button class="btn btn-primary input-group-btn">Buscar</button>
    </div>
  </form>

  {% for result in results %}
    <h3><a href="{{ result.url }}">{{ result.name }}</a></h3>
    <img src="{{ result.image.original }}" alt="">
    {{ result.summary|safe }}
    <hr>
  {% endfor %}
{% endblock %}