{% extends "search.html" %}

{% block title %} Friends {% endblock %}

{% block search_results %}

<div class="search columns">
  {% for episode in results %}
    <div class="column col-6 col-xs-12">
      <div class="card">
        <div class="card-image">
          <img src="{{ episode.image.original }}" class="img-responsive">
        </div>
        <div class="card-header">
          <div class="card-title h5"><a href="{{ episode.url }}">{{ episode.name }}</a></div>
        </div>
        <div class="card-body">
          <table>
            <tr>
              <th class="text-left">Temporada</th>
              <td class="text-right">{{ episode.season|int }}</th>
            </tr>
            <tr>
              <th class="text-left">Episodio</th>
              <td class="text-right">{{ episode.number|int }}</th>
            </tr>
            <tr>
              <th class="text-left">Fecha</th>
              <td class="text-right">{{ episode.airdate }}</th>
            </tr>
          </table>
          <div class="divider"></div>
          {% if episode.summary %}
            {{ episode.summary|safe }}
          {% else %}
            <p>No hay información disponible</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}