{% extends "layout.html" %}

{% block title %} P3 {% endblock %}

{% block content %}
  <div class="hero hero-sm bg-white">
    <div class="hero-body">
      <h1>¡Hola!</h1>
      <p>Bienvenido a la página de inicio de las prácticas de DAI en Flask.</p>

      {% if not session['email'] %}

      <p>Disfruta de todas las funciones iniciando sesión.</p>
      <a href="{{ url_for('p3_signup') }}" class="btn btn-primary">Regístrate</a>
      <a href="{{ url_for('p3_login') }}" class="btn">Inicia sesión</a>

      {% endif %}
    </div>
  </div>
  
{% endblock %}